<div class="article">
<h2><B>動物愛護法</B></2>
  <p>
   動物は愛護及び管理に関する法律で守られています。<br>
   ヒトと動物が仲良く上手に暮らせる社会をつくることが目的の法律です。<br>
 理解の上、必ず遵守しましょう。
  </p>
  <a href="https://www.env.go.jp/nature/dobutsu/aigo/1_law/outline.html" target="_blank">
    <B>「詳細はこちら」</B>
  </a>
</div>

<h2><B>★試供品が当たるアンケート</B></2>
<p>以下よりアンケートに回答すると、抽選でペットフーズ試供品が20名様にプレゼントします。
当選は発送をもってかえさせていただきます。</p>
  <a href="https://goo.gl/forms/zUtNQD1jhn17hQ3f2" target="_blank">
    <B>「アンケートはこちら」</B>
  </a>

