<h1>個人情報保護方針</h1>
株式会社○○は、情報誌、インターネット、モバイル、さらにはイベントやカウンターサービスなど多様なメディアを活用し、人生・生活のさまざまなシーンにおいて、企業や個人の○○の場を提供しています。当社では事業運営上多くのお客様や従業者の個人情報を取扱うこととなるため、当社倫理綱領に基づいて本方針を定め、個人情報管理体制を確立し、企業として責任ある対応を実現するものとします。
<ul>
<li>
方針1.
個人情報の利用の目的をできる限り特定し、当該目的の達成に必要な範囲内で適切に取扱います。また、目的外利用を行なわないための措置を講じます。
</li>
<li>
方針2.
個人情報は、適法かつ適正な方法で取得します。
</li>
<li>
方針3.
個人情報は、本人の同意なく第三者に提供しません。
</li>
<li>
方針4.
個人情報の管理にあたっては、漏洩・滅失・毀損の防止及び是正、その他の安全管理のために必要かつ適切な措置を講じるよう努めます。
</li>
<li>
方針5.
個人情報の取扱いにあたっては、その情報を提供した本人が適切に関与し得るよう努め、可能な限り正確かつ最新の内容に保つよう努力します。
</li>
<li>
方針6.
個人情報保護に関する法令を遵守し、また個人情報保護に関する社内規程を定め、継続的な見直しを行い遵守します。
</li>
<li>
方針7.
個人情報保護に関する苦情及び相談に対応する窓口を設けて、適切に対応するよう努めます。
</li>
</ul>

株式会社○○　代表取締役　●●