<p id="notice"><%= notice %></p>

<h1>システム管理者画面</h1>

<input type="button" value="プロフィール一覧" onClick="location.href='users'">
<input type="button" value="投稿一覧" onClick="location.href='posts'">
<input type="button" value="問合せ一覧" onClick="location.href='contacts'">
<input type="button" value="お知らせ一覧" onClick="location.href='informations'">
