  <%= link_to "パスワード変更", edit_user_path(current_user.id) %>
  <%= link_to "投稿一覧", posts_path %>
  <%= link_to "問合せ一覧", requests_path(current_user.id) %>
<br><br>
<h4><B>【当サイトの機能と運用方法をご説明します】</B></h4>

<strong><B>「パスワード変更」</B></strong>   ログインパスワードの変更が行えます<br><br>
<strong><B>「画像一覧」　　　</B></strong>   ここから動物の画像やご説明をサイトに掲載することができます。また公開・非公開も設定可能です。<br><br>
<strong><B>「お問合せ一覧」　</B></strong>   当サイトに掲載した動物に対し、興味を持たれたサイト訪問者からのお問合せを確認することができます。<br>
お問合せがあったらご連絡先（電話・メール）に従いご連絡をお願いします。<br><br>


