<input type="button" value="プロフィール一覧" onClick="location.href='users'">
<input type="button" value="投稿一覧" onClick="location.href='posts'">
<input type="button" value="問合せ一覧" onClick="location.href='contacts'">
<input type="button" value="お知らせ一覧" onClick="location.href='/informations'">

<h1>New information</h1>

<%= render 'form', information: @information %>

<%= link_to 'Back', informations_path %>
