<p>
私たちは動物保護を目的にサイト運用を行っています。
動物愛護に関すること、動物を飼うにあたっても心構えなどご参考にして下さい。

動物の愛護及び管理に関する法律
ヒトと動物が仲良く上手に暮らせる社会をつくることが目的の法律です。

http://elaws.e-gov.go.jp/search/elawsSearch/elaws_search/lsg0500/detail?lawId=348AC1000000105
https://www.env.go.jp/nature/dobutsu/aigo/1_law/outline.html
動物愛護協会
http://www.jspca.or.jp/


飼う前に考えよう
不幸な動物を増やさないために、飼う前に考えよう
動物を家族に迎えることは、多くの場合、生活に張りや潤いをもたらし、生きがいの創造にもなります。しかし、動物たちは電池やゼンマイで動くものではありません。生きています。食べ物や水が必要で、排せつもします。病気になることもあります。動物との生活は、一方でその飼い主(家庭)に義務や責任、家計の増大をもたらし、家族の生活や行動を制限することにもなります。

動物が飼えなくなった主な理由
以下は協会に寄せられた相談電話のうち、動物が飼えなくなった理由の主なものです。

・ペット禁止住宅で見つかってしまった 
・増えてしまった→こちらをご覧ください（家庭の猫も室内飼、不妊去勢へ） 
・アレルギー症状がでた
・世話や散歩の時間、体力がない
・高齢となったペットの介護がつらい
・飼い主の病気、死亡
・近隣からの苦情 
・引っ越しする


飼い主に必要な10の条件
このことから本協会は、｢動物を家族に迎えるにあたっての必要条件10か条｣を作りました。参考にしてください。

①住宅がペットを飼える状況にあること 
②動物を迎えることに家族全員の合意があること 
③動物アレルギーの心配がないこと 
④その動物の寿命まで(終生飼養)飼育する覚悟があること 
⑤世話をする体力があり、その時間をさけること 
⑥高齢になった動物の介護をする心構えがあること 
⑦経済的負担を考慮すること 
⑧必要なしつけと周囲への配慮ができること 
⑨引っ越しや転勤の際にも継続飼養する
　覚悟があること 
⑩飼えなくなった場合の受け皿を考えておくこと 

地域猫活動を知っていますか?
幸せになれない命は作らない、作らせない。でも生まれてきた命は大切に、出来るだけ長生きさせてあげたい･･･。地域猫活動サークルは、こんな気持ちを持った有志が集まって結成されています。

ノラ猫を放置すれば、庭をトイレにされたり、むやみな繁殖で子猫が増えたり、ごみ置き場が荒らされたりで、地域の住民は大きな迷惑をこうむることになります。 出来るだけそのようなことがないように、猫が住民と上手に共生できる地域を実現することを目的に、いろいろな活動が行われています。

動物を飼うことは、動物の命を預かることです。飼い主は、動物が健康で快適に暮らせるようにするとともに、社会や近隣に迷惑を及ぼさないようにする責任があります。

人と動物が共に生きていける社会の実現には、飼い主のモラルとマナーが必要です。

飼い主の方へ
守ってほしい5か条
１．動物の習性等を正しく理解し、最後まで責任をもって飼いましょう
飼い始める前から正しい飼い方などの知識を持ち、飼い始めたら、動物の種類に応じた適切な飼い方をして健康・安全に気を配り、最後まで責任をもって飼いましょう。
２．人に危害を加えたり、近隣に迷惑をかけることのないようにしましょう
糞尿や毛、羽毛などで近隣の生活環境を悪化させたり、公共の場所を汚さないようにしましょう。また、動物の種類に応じてしつけや訓練をして、人に危害を加えたり、鳴き声などで近隣に迷惑をかけることのないようにしましょう。
３．むやみに繁殖させないようにしましょう
動物にかけられる手間、時間、空間には限りがあります。きちんと管理できる数を超えないようにしましょう。また、生まれる命に責任が持てないのであれば、不妊去勢手術などの繁殖制限措置を行いましょう。
４．動物による感染症の知識を持ちましょう
動物と人の双方に感染する病気（人と動物の共通感染症）について、正しい知識を持ち、自分や他の人への感染を防ぎましょう。
５．盗難や迷子を防ぐため、所有者を明らかにしましょう
飼っている動物が自分のものであることを示す、マイクロチップ、名札、脚環などの標識をつけましょう。


これからペットを飼う方へ
　ペットを飼うことは、その一生に責任をもつことです。ペットを飼う前に、ほんとうに飼い続けられるか、家族みんなで話し合いましょう。

　そして、飼うことを決めたら、どこから手に入れるかよく考えましょう。方法としては、ペットショップやブリーダーから購入するほか、動物保護施設で、飼えなくなったり飼い主不明で保護されたペットを譲渡してもらえることもあります。

　動物を販売するためには、動物取扱業の登録が必要です。購入する場合は、登録している業者であることを確認しましょう。

保健所から犬を引き取る前に
保健所で保護された犬

「保健所から引き取った犬なの」

友人や知人の犬の中に、そういった飼い犬がいるかもしれません。記事を読んでいる方の中には、「保健所からしか犬を引き取らない」と決めている人もいるでしょう。実は保健所の犬というのは、ペットショップやブリーダーなどから引き取る犬たちとは違う注意点がいくつかあります。

それはなぜか。

保健所には、捨てられたり、野良犬だったりした犬たちが保護されています。収容された犬たちは、噛み癖がないか、病気がないか、人を嫌っていないか、などの行動観察が行われます。さらに保健所では収容できる期間は決められて、残念ながら収容期間が過ぎてしまったり、噛み癖があったりする犬たちは殺処分されてしまいます。

住んでいる地域によっては、殺処分をなくそうと働きかけている場合や、保健所の収容期間が過ぎたけれど噛み癖がないなど基準をクリアした犬たちを保護する団体がある場合があります。その場合は、保健所から犬たちは別の施設へと移っていきます。 

そんな犬たちを引き取るには、次のような注意点があります。

子犬の引き取り
保健所から引き取られる子犬たち

2ヶ月くらいまでの子犬は、大抵母犬と一緒に親子で保護されます。これは、母犬が子犬を産んだ場所から大きく移動できず、さらには子犬たちも鳴くので、困った近所の人が保健所に保護を頼むケースがあるからです。

この場合、子犬たちは兄弟犬と母犬と一緒に保健所で生活を送っているだけですから、人を怖がったり、嫌がったりすることはあまりありません。一般的な子犬と同様に引き取りを考えて構わないでしょう。


   
成犬の引き取り
「子犬は世話が必要だから大人の犬を飼いたい」など様々な理由で成犬を迎えたいと考える方もいるでしょう。
成犬が保健所に保護されている場合は、それまでの過程で様々な境遇にあったことが考えられます。飼い主に捨てられたり、野良犬生活で虐げられたりと、良い思いをしていないことも多いでしょう。

引き取りを考えた犬が時によって、人を怖がる犬である場合もあります。
少しずつ寄り添う気力と時間が、自分にあるのか。真剣に考える必要があります。けれど、引き取った後は自分ひとりで抱えこまず、専門家にどのように接していくのが一番か、尋ねることもできます。

ゆっくりと家族になることを考えてください。

保健所で保護された彼らの境遇
保健所から引き取られる前の検査

さて、ここまでは保健所に保護された犬の性格面などの点で話をしてきました。実は、さらにもう一つ、ペットショップの犬たちと違う注意点が彼らにはあります。

それは、「健康面」。

野良犬生活を送ってきた犬たちは、決して衛生的な場所で毎日を過ごしているわけではありません。のどが渇けば田んぼの水を飲むし、お腹がすけば、ねずみを食べることもあるでしょう。なので、保護されたとき、時には感染症や寄生虫を持っていることがあります。


これは子犬も同じで、母犬から感染症をもらう母子感染を起こしている場合もあります。保健所によっては、どんな病気に感染しているか調べてくれていて、引き取りの際や面会したときに明示してくれます。引き取った後も、獣医さんに「保健所から引き取った」と伝えて、詳しく検査をしてもらうこともできます。

自分が犬たちに向き合えるかどうか、今一度考える必要があります。

保健所から犬を引き取るまでの流れ
保健所から犬を迎えるための心構えイメージ

さて、保健所から犬を引き取ることを決めたら、後はどの迎え方でも同じで「気に入った犬」を探します。
保健所にいる犬をネット公開している自治体も多いですので、自分が引き取りにいける範囲内の保健所を検索してみてください。思い切って譲渡会に参加するのも良いでしょう。実際に犬たちと対面して、どんな性格の犬なのかを知ることが大切です。

犬を引き取りたいと思ったら
ネットなどで気に入った犬が見つかったら（見つからなかった場合でも構いませんが）一度保健所に連絡を取って、犬を見に行ってもいいか聞いてみましょう。「実際に見てみると印象が違った」ということもあります。 

それに、保健所の職員の人から犬の詳しい性格や病気のことも聞くことができます。自分にあった犬かどうか、きちんと考えてから飼う必要がありますからね。もし実際に見て、「飼いたい」と心に決めたら、保健所の人に引き取りたい旨を伝えます。

犬の引き取りに必要なもの
保健所かの犬を引き取るために必要な書類

自治体によっては、引き取りの際に講習会（1～2時間程度）などを受ける必要があるときもあります。確認をしてみましょう。

保健所に提出する申請書は、保健所から貰いうけます。その中には引き取った犬の「犬の去勢・避妊手術」を行う契約について書かれている場合もあります。これは、保健所にくる犬が増えることを防止するためです。

「いつか手術をしなくてはならないんだ」と認識しておきましょう。もちろんこのほかにも狂犬病の予防接種など、必要なことはたくさんあります。ただ「もらってきて飼う」だけではないことに注意しましょう。

このほかにも、引き取りの際には車で行くのか徒歩でいくのか。さらには犬を入れる段ボール箱やペットシーツなども必要です。準備しておきましょう。


保健所にいる猫とその引き取り方
保健所にいる猫とその引き取り方
保健所に収容されている猫たちの数をご存じでしょうか？一番新しいデータ(平成２７年)によると、収容数は猫だけで90,075匹。そのうち67,091匹は殺処分になってしまった猫の数です。近年日本でもこの問題が大きく取り上げられており、そのおかげもあり保健所から猫を迎え入れるご家庭も多いのではないでしょうか。そこで保健所に収容されている猫たちの事や、引き取りの手順等を調べてみました。

2017年12月25日 更新 2842view  このエントリーをはてなブックマークに追加
執筆ライター

 ネコノママ	
ネコノママ
猫が大好き。過去に1匹の猫を腎不全で亡くしているのですが、その時に猫について色々調べ、疑問点は獣医師に相談することで猫の知識を身につけました。 現在は子供二人、主人、そして可愛い猫たち3匹と生活して…
目次
保健所にいる猫たち
保健所から猫を引き取る前に
保健所から猫を引き取る方法
保健所から猫を引き取ったあとは
まとめ
保健所にいる猫たち
捨て猫
まずはどのような猫が保健所に連れて行かれてしまうのかを調べてみました。

脱走猫、迷子猫
元々野良猫だった猫は外に出たがることが多くあります。そこで飼い主さんは脱走対策を練ったりといろいろ考えるのですが、猫というのはとても素早く、少しの隙間からほんの一瞬で脱走していまいます。去年亡くなったうちの長老猫も、元は野良猫で外に行きたがり、気をつけていましたが、人が玄関を開けた隙に脱走劇を繰り返し何度追いかけて捕まえてを繰り返したかわかりません。脱走した隙に住民に通報され連れて行かれるケースや、脱走したはいいけどお家がわからなくなってしまって迷子になった猫が気づけば保健所に連れていかれてた、なんてケースも多数あります。

捨て猫
家出して久しぶりに帰ってきた猫がなんと妊娠して帰ってきた、ちょっと外に遊びにいって帰ってきたがしばらくすると子猫が生まれた。そんな話をよく身近で聞きます。その場合飼育困難により保健所に連れていくのが可哀想だからといって飼い主自ら外に猫を捨ててしまうケースも少なくありません。

野良猫
脱走猫、迷子猫、捨て猫達の中で避妊去勢手術を受けていない猫たちが交尾を繰り返すことにより、新たに飼い主が居ない猫が生まれてしまいます。こうして野良猫の数はどんどん増えていくのです。

多頭飼育崩壊
最近よくニュースなどで目にするのがこの多頭飼育崩壊問題です。避妊去勢手術をしていないまま多数の犬や猫を同じ部屋で飼育した結果、繁殖してしまい飼い主の手には負えなくなってしまい、その結果動物愛護団体に任せたり、保健所につれていくことになります。


保健所から猫を引き取る前に
保健所の猫
引き取ってから飼えなくなってしまった場合どうにもなりません。保健所から猫ちゃんを引き取る前にもう一度よく考えましょう！以下にいくつかチェックポイントをあげておきます。

飼育環境
賃貸の場合、飼育可の物件なのか、または大家さんに飼育許可はもらっていますか？

経済面
猫を飼育するには、様々なものにお金がかかります！エサ、水入れやトイレなどはもちろん、猫を迎え入れる時や動物病院につれていくときに必要なキャリーケースなど、必要なものがたくさんあります。そして、はじめのうちは猫にとって安心できる場所を提供するために、できればゲージがあると良いですね。それらをすべて用意できますか？

また、環境が変わった事により体調を崩しやすい猫も多いです。病院に連れていく費用は用意できそうですか？(ただの風邪の場合5000円～１万円程度)

お世話の時間
猫はとてもきれい好きですから、汚れているトイレでは用を足したがらない場合が多いです。その為、一日数回のトイレ掃除が必要です。トイレ掃除をサボってしまうと菌が増殖してしまい、病気の原因にもなってしまいます。

エサもいつでも好きな量を自由に好きなだけ食べさせていると肥満の原因になりますので、できる限り体重ごとで１日のエサの量を計算しながら与えてあげるのがベストです！

保健所から猫を引き取る方法
スーツの男性
自治体などのHPを見ると保健所に収容されている動物たちの画像が見れる所が多いみたいです。そこをこまめに確認し、気になった子が居た場合は記載されている問い合わせ先に連絡し、事前に面会日のアポイントを取りましょう。手続きに必要な物もいくつかあるみたいなので、事前に用意していきましょうね！

身分証明書
印鑑
飼育許可の証明書
飼育許可の証明書ですが、これは賃貸の場合必要です。しっかりと許可がおりている証拠に提示しましょう。

保健所から猫を引き取ったあとは
子猫を抱く子供
猫を保健所から引き取ったら、まずはこちらを信用してもらうことが大切でしょう。

エサの時間だけエサを与えて目の前から去る
トイレ掃除の時も猫を見つめないようにする。(猫界では見つめる=攻撃体制)
など、信用してもらうためのコツを把握して実行しましょう。

落ち着いて慣れてきたら、病院に行きワクチン、避妊去勢手術をするなどのステップに進みます。保健所に収容されてしまった猫は、もちろん人間が怖く、はじめのうちは威嚇や警戒をすることが多いみたいです。その足ですぐに病院に連れていくと猫もさらに怖い思いをしてしまうので、少し時間を空けた方が良いと思います！
</p>