<h1>投稿</h1>

<P>
<B>【記載に当たっての注意点】</B><br>
ペットのご説明は出来るだけ詳しく記載して下さい。長所だけでなく飼うにあたっての注意点など性格についても記載下さい。<br>
保護するに至った経緯なども分かれば記載お願いします。<br>
</p>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
