// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media {
/*    background: #FFF; */
    padding: 10px;
/*    border: medium solid black; */
    overflow: hidden; 
    width:980px;
}
.image_parent {
    width: 600px;
    margin: 0 auto;
}
.media__image {
    width: 500px;
    float: left;
    margin-right: 10px;
}
.media__summary {
   overflow: hidden;
}
.media__heading {
    width:200px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
