// Place all the styles related to the monologues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* フッタと同じ高さに設定 */
/*  margin-bottom: 60px; */

  /* 一番下までスクロールした時の余白 */
/*  padding-bottom: 0; */
}
#page{
  width: 980px;
  margin: 0 auto;
/*  border: medium solid #ff00ff; */
}
#page:after{
  content: "";
  clear: both;
  display: block;
}
.line_menu{
  width:60px;
  text-align: right
}
h1{
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:red;
/*    background-color:#C3A7AB; */
    margin: 40px;
}
h4{
  border-bottom:solid 2px #5f9ea0;
}
#intro{
  font-size:20px;
/*  border-top:solid 2px #5f9ea0; */
  border-bottom:solid 2px #5f9ea0;
}
/*
li{
    list-style:none;
}
*/
/*ul{
    padding:0;
}
*/
p{
  text-align: left;
}
.list_info{
  font-size: 14px;
  list-style-type: square;
  margin-left:15px;
/*  border: medium solid red; */
}
.article{
  margin-bottom: 30px;
  padding-bottom: 15px;
/*  border: medium solid blue; */
}
#siteTitle{
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0;
}
#catchcopy{
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
}

header {
/*  border: medium solid yellow; */
  font-size:20px;
  font-weight:bold;
  text-align:center;
  width: 100%;
  top:0;
  left:0;
}

.navbar-header{
  color: #000000;
/*  background-color:#99cc00; */
}
.navbar-default{
  color: #000000;
/*  background-color:#99cc00; */
}
.navbar-collapse{
  color: #000000;
/*  background-color:#99cc00; */
}


.menu{
/*    background-color:#3A2F7B; */
    color:#fff;
}
.menu li {
/*    padding:5% 10%;*/
    text-align:center;
}
.contents {
  width: 100%;
/*  position:relative; */
  min-height: 100%;
  height:auto;
}
.contents li{
/*    background-color:#F3A7AB; */
    color:#fff;
/*    padding:10% 10%;*/
    box-sizing: border-box;
/*    border: solid 1px #fff; */
}

.container{
/*  position: relative; */
  min-height: 100%;

}
.container-fluid{
/*        position: relative;
        width: 100%;*/

        /* コンテンツ部分の高さが画面に収まらない場合はコンテンツの高さに合わせる*/
/*        height: auto !important;*/

        /* コンテンツ部分の高さが画面より低い場合は画面の高さに合わせる*/
/*        height: 100%;
        min-height: 100%;*/
    }

a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}

.navbar-header{
  color: #000000;
/*  background-color:#99cc00; */
}
.navbar-collapse{
  color: #000000;
/*  background-color:#99cc00; */
}

.menu{
/*    background-color:#3A2F7B; */
    color:#fff;
}
.menu li {
/*    padding:5% 10%;*/
    text-align:center;
}
th, td {
　font-size: 1em
}


header ul {
/*  margin: 0 auto;*/
  list-style: none;
}

header ul a {
  display: block;
/*  padding: 15px;*/
  text-decoration: none;
  color: white;
}

header li {
  float: left;
/*  width: auto;*/
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  border-top: solid 1px #CCCCCC;
  margin-top: 15px;
/*  margin-top: 30px; */

  padding-bottom: 10px;
  font-size: 12px;

/*  position: fixed; */
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  width: 100%;
  /* フッタの高さ */
  height: 60px;
/*  background: #fff; */
  color: #000;
}
/*
a.subbuttom{
font-size:0.75em;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}
a.subbuttom.hover{
background:#777777;
}
*/
.main-header {
  padding-bottom: 1%;
/*  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");  */
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 30%;
  height:20;
  padding-top: 55px;
}

table, td {
}
table {
  width:980px;
  background-color: white;
/*  border: medium solid green; */
}
.function-images {
  width: 100%;
  display: table;
  margin-top: 60px;
  table-layout: fixed;
}

.function-image {
  display: table-cell;
  width: 100%;
}

.field{
  margin-left: 60px;
}
.sub{
  margin-left: 60px;
  color: white;
}

.post-img {
   max-width: 50px;
   height: 50px;
}
/* .post-table {
   border: "0";
} */

.ippan {
  margin-bottom:10px;
}

.square_btn{
    display: inline-block;
    position: relative;
    padding: 0.5em 1.4em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: white;
    border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
    border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
    margin-left:10px;
  
}

.square_btn:before{    
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;
    color: white;
}

.square_btn:after{   
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
    color: white;
}

.square_btn:active{ /*ボタンを押したとき*/
    border:none;
    -ms-transform: translate(6px,6px);
    -webkit-transform: translate(6px,6px);
    transform: translate(6px,6px);
    color: white;
}

.square_btn:active:after,.square_btn:active:before {
    content: none;/*ボタンを押すと線が消える*/
    color: white;
}